name: Build and Publish Image

on:
  push:
    branches:
      - master
    tags:
      - 'v*'
    paths-ignore:
      - '**/*.md'
  pull_request:
    branches:
      - master
    paths-ignore:
      - '**/*.md'
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0
          lfs: true

      - name: Set up QEMU (register qemu-static as system-wide interpreter for foreign formats)
        uses: docker/setup-qemu-action@v2
        with:
          platforms: all

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ghcr.io/${{ toLower(github.repository_owner) }}/clang-cross-builder:build_${{ github.run_number }}_${{ github.sha }}
            ghcr.io/${{ toLower(github.repository_owner) }}/clang-cross-builder:sha-${{ github.sha }}
            ${{ github.ref == 'refs/heads/master' && format('ghcr.io/{0}/clang-cross-builder:latest', toLower(github.repository_owner)) || '' }}

      - name: Extract toolchain
        run: |
          mkdir -p toolchains
          docker run --rm -v "$(pwd)"/clang-cross-sysroots:/host ghcr.io/${{ toLower(github.repository_owner) }}/clang-cross-builder:sha-${{ github.sha }} /scripts/extract-toolchain.sh
          tar -czf clang-cross-sysroots.tar.gz clang-cross-sysroots

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: build_${{ github.run_number }}_${{ github.sha }}
          name: build_${{ github.run_number }}_${{ github.sha }}
          draft: false
          prerelease: false
          files: clang-cross-sysroots.tar.gz
